<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()

<body>

    <div class="top-header" id="intro">
        <nav class="navbar navbar-default navbar-top header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/"><img src='@routes.Assets.at("images/wazza_logo_white2.png")' alt="Wazza Logo" class="logo-landing"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse navbar-mobile">
                    <ul class="nav navbar-nav">
                      <li><a href="#features">Features</a></li>
                      <li><a href="http://www.wazza.io/about">About us</a></li>
                      <!--li><a href="#pricing">Pricing</a></li-->
                      <!-- <li><a href="http://www.wazza.io/how">How does it work?</a></li> -->
                      <li><a href="http://www.wazza.io/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div class="top-message">
                <h1>In-app payments analytics</h1>
                <h3>Learn why and how your app is making money</h3>
              </div> <!-- top messages -->
            </div> <!-- col -->
            <div class="col-lg-12" style="margin-top: 2em;">
              <img
                 class="animated fadeIn"
                 src='@routes.Assets.at("images/product-overview.png")'
                 style="width:82em; height: auto"
                 >
            </div>
            <div class="col-lg-12">
              <img class="animated fadeInUp" src='@routes.Assets.at("images/payments.png")'>
            </div>
            <div class="col-lg-12">
              <div class="hidden-sm hidden-xs" style="margin-top: 2em;">
                @views.html.form.render("contactUp", "userEmailUp", "saveUserEmailUp")
              </div>
            </div>
            <!-- <div class="col-lg-5 hidden-sm hidden-xs">
                 <div id="main-slider" class="flexslider">
                   <ul class="slides">
                     <li><img src='@routes.Assets.at("images/dash/imac-wazza.png")' alt="iMac showing Wazza dashboard interface" /></li>
                   </ul>
                 </div>
            </div> -->
          </div>
        </div>
    </div>
    
    <!-- Welcome Content -->
    <div id="about" class="section text-center welcome">
        <div class="container">
          <!-- <div class="row"> -->
          <!--     <h1>A 360º view of your In-App Purchase Business</h1> -->
          <!--     <br><br> -->

          <!--     <div class="hidden-sm hidden-xs"> -->
          <!--       <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
          <!--         <\!-- Indicators -\-> -->
          <!--         <ol class="carousel-indicators"> -->
          <!--           <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> -->
          <!--           <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
          <!--         </ol> -->

          <!--         <\!-- Wrapper for slides -\-> -->
          <!--         <div class="carousel-inner" role="listbox"> -->
          <!--           <div class="item active"> -->
          <!--             <div class="row"> -->
          <!--               <img src='@routes.Assets.at("images/mac-dash-small.png")' alt="dashboard"> -->
          <!--             </div> -->
          <!--             <\!--div class="carousel-caption"> -->
          <!--               ... -->
          <!--             </div-\-> -->
          <!--           </div> -->
          <!--           <div class="item"> -->
          <!--             <div class="row"> -->
          <!--               <img src='@routes.Assets.at("images/mac-chart-small.png")' alt="chart"> -->
          <!--             </div> -->
          <!--             <\!--div class="carousel-caption"> -->
          <!--               ... -->
          <!--             </div-\-> -->
          <!--           </div> -->
          <!--         </div> -->

          <!--         <\!-- Controls -\-> -->
          <!--         <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> -->
          <!--           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
          <!--           <span class="sr-only">Previous</span> -->
          <!--         </a> -->
          <!--         <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> -->
          <!--           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
          <!--           <span class="sr-only">Next</span> -->
          <!--         </a> -->
          <!--       </div> -->
          <!--     </div> -->
          <!--     <div class="hidden-lg hidden-md hidden-xs"> -->
          <!--         <img alt="dashboard" src='@routes.Assets.at("images/ipad-dashboard.png")'> -->
          <!--     </div> -->
          <!--     <div class="hidden-lg hidden-md hidden-sm"> -->
          <!--         <img alt="dashboard" src='@routes.Assets.at("images/ipad-dashboard-mini.png")'> -->
          <!--     </div> -->
          <!--   <br><br><br> -->
            <div class="row">
              <div id="features">
                <div class="row content-row">
                  <div class="col-xs-12">
                    <h2>Features</h2>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <!-- <img alt="InAppPurchaseAnalytics" src='@routes.Assets.at("images/analytics3.png")'> -->
                    <i class="fa fa-desktop fa-5x"></i>
                    <h3>One dashboard to rule them all</h3>
                    <h4>Have a complete overview of your in-app payments performance across all your apps</h4>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <i class="fa fa-area-chart fa-5x"></i>
                    <!-- <img alt="UserBasedRecommendation" src='@routes.Assets.at("images/dashboard-resized2.png")'> -->
                    <h3>Detailed analytics and trends</h3>
                    <h4>Go deeper into each metric and see its evolution and how is it growing</h4>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <!-- <img alt="TargetedCampaignsPromotions" src='@routes.Assets.at("images/inventory3.png")'> -->
                    <i class="fa fa-clock-o fa-5x"></i>
                    <h3>Simple and fast integration</h3>
                    <h4>Integrate our mobile SDKs in minutes with four lines of code. <a href="http://www.wazza.io/how"><b>Check it out!</b></a></h4>
                  </div>
                </div>
              </div>
            </div>
            <br><br><br>
            <div class="section container sshots text-center">
              <!-- Call to Action -->
              <h2>Want to know more? Schedule a live demo!</h2>
              <div class="row">
                <div class="col-lg-12">
                  @views.html.form.render("contact", "userEmail", "saveUserEmail")
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


    <div class="middle-gray">
        <div class="container text-center">
            <section>
                <h2>As featured on:</h2>
                <br>
                <div class="row">
                    <a href="http://videos.sapo.pt/zejqnSB2HeKcVh8CMU4H"><img alt="TV interview by Economico TV" class="featured-img" src='@routes.Assets.at("images/economico_min.png")'></a>

                    <a href="http://www.computerworld.com.pt/2014/04/29/beta-i-revela-startups-do-lisbon-spring-14/?utm_content=bufferfe045&amp;utm_medium=social&amp;utm_source=twitter.com&amp;utm_campaign=buffer"><img alt="Article by ComputerWorld" class="featured-img" src='@routes.Assets.at("images/logo-cw-drop.png")'></a>

                    <a href="http://novaweb.pt/blog/wazza-startup-da-semana/"><img alt="Article by Novaweb" class="featured-img" src='@routes.Assets.at("images/logo_novaweb.png")'></a>

                    <a href="http://www.slideshare.net/startup_tour/the-lisbon-tech-startup-guide" class="featured-img"><img alt="Startup Guide by Startup Tour" class="featured-img" src='@routes.Assets.at("images/logo_startuptour.png")'></a>

                    <a href="http://www.jornaldenegocios.pt/empresas/start_ups/detalhe/saiba_quem_sao_as_startups_que_vao_integrar_a_segunda_edicao_do_lisbon_challenge.html"><img alt="Article by Jornal de Negocios" class="featured-img" src='@routes.Assets.at("images/negocios_networking.jpg")'></a>
                </div>
            </section>
            <br>
        </div>
    </div>


    <div class="newsletter">
        <div class="container">
            <section>
                <div class="row">
                  <div class="text-center">
                    <h2>Partners </h2>
                    <a href="http://startuplisboa.com/"><img id="startup-lisboa-logo" src='@routes.Assets.at("images/startuplisboa.png")' alt="Logo for Startup Lisboa"></a>
                    <a href="http://www.lisbon-challenge.com/"><img id="lisboa-challenge-logo" src='@routes.Assets.at("images/Lisbon-ChallengeSP2014.png")' class="lisbon-challenge" alt="Logo for Lisbon Challenge - Beta-i"></a>
                  </div>
                </div>
                <br /><br /><br />
                <!--
                <div class="row">
                  <div class="text-center">
                    <h3>Powered by </h3>
                    <a href="http://www.lunacloud.com"><img src="http://www.lunacloud.com/images/logo/hosted_by_lunacloud/logo_271x35.png" alt="Lunacloud" width="271" height="35" border="0" title="Lunacloud - Cloud Server and Cloud Storage" /></a>
                  </div>
                </div>
              -->
            </section>
            <br>
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
            </div>
        </div>
    </div>

    <div class="container text-center">
      <h1>Here's where you can find us. Feel free to reach out to us!</h1>
      <br><br>
      <section>
        <div class="row">
          <div class="col-12 col-lg-3 col-sm-2">
            <p><a href="mailto:hello@@wazza.io"><i class="fa fa-envelope contact-share-icons"></i></a></p>
            <h3>hello@@wazza.io</h3>
          </div>
          <div class="col-12 col-lg-3 col-sm-2">
            <p><a href="http://www.linkedin.com/company/wazza-mobile"><i class="fa fa-linkedin contact-share-icons"></i></a></p>
            <h3>wazza</h3>
          </div>
          <div class="col-12 col-lg-3 col-sm-2">
            <p><a href="https://twitter.com/wazza_io"><i class="fa fa-twitter contact-share-icons"></i></a></p>
            <h3>@@wazza_io</h3>
          </div>
          <div class="col-12 col-lg-3 col-sm-2">
            <p><a href="https://www.facebook.com/wazzaio"><i class="fa fa-facebook contact-share-icons"></i></a></p>
            <h3>facebook/wazzaio</h3>
          </div>
        </div>
        <br><br><br>
      </section>
    </div>
        
    @views.html.footer.render()
    @views.html.scripts.render()

</body>
</html>
